
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    background: #d3d3d3;
    font-family: Graduate;
  }
  
  header {
    background: green;
    height: 66px;
  }
  
  header * {
    color: white;
  }
  
  header .logo{
    float: left;
    margin-left: 2em;
    height: inherit;
  }
  
  header .logo-text {
    margin: 8px;
    font-family: Graduate;
  }
  
  header span {
    color: greenyellow;
  }
  
  header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  header ul li {
      float: left;
      position: relative;
  }

  header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
  }

  header ul li:hover ul {
    display: block;
  }

  header ul li ul li {
      width: 100%;
      
  }
  
header ul li ul li a {
    padding: 10px;
    background: greenyellow;
    color: green;
}

header ul li ul li a.logout{
    color: red;
}

header ul li ul li a:hover {
    background: #000;
}

  header ul li a {
      display: block;
      padding: 21px;
      font-size: 1.1em;
      text-decoration: none;
  }

  header ul li a:hover {
      background: #006669;
      transition: 0.5s;
  }

  header .menu-toggle {
    display: none;
  }

  /* Media Queries */

  @media only screen and (max-width: 750px){

    header {
        position: relative;
    }

    header ul{
        width: 100%;
        background: green;
        max-height: 0px;
        overflow: hidden;
    }

    .showing {
        max-height: 100em;
    }

    header ul li{
        width: 100%;
    }

    

    header ul li ul {
        position: static;
        width: 100%;
        display: block;
      }

      header ul li ul li a {
        padding: 10px;
        background: green;
        color: greenyellow;
        padding-left: 50px;
    }
    
    header ul li ul li a.logout{
        color: red;
    }

    header .menu-toggle{
        position: absolute;
        display: block;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }

    header .logo{
        margin-left: .5em; 
      }
  }